.token-field input {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: auto;
  min-height: 68px;
  padding: 20px;
  line-height: 1.35;
}

@media (max-width: 780px) {
  .token-field input {
    height: auto;
    min-height: 80px;
    padding: 24px 20px;
  }
}
